main {
    min-height: calc(100vh - 160px);
}

#objeto{
  width: 18rem;
}

#contenedorDatos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#description{
  max-height: 200px; 
  overflow-y: scroll;
}